<!DOCTYPE html>
<html>
<head>
  <title>RouteHawk</title>
  <%= stylesheet_link_tag    "route_hawk/application", media: "all" %>
  <%= javascript_include_tag "route_hawk/application" %>
  <%= csrf_meta_tags %>

  <%-#= stylesheet_link_tag "scaffold" %>

</head>
<body>

<%= yield %>

</body>
</html>
